################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskManager.API/obj
/.vs/TaskManager/v17
/TaskManager.API/bin/Debug/net6.0
/TaskManager.API/bin/Release/net6.0
